.form-inputs{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-top: 5px;
}

label{
    font-size: 15px;
    color: #fff;   
}

input{
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 85%;
    border: 0.5px solid gray;
}

span{
    font: 10px;
    padding: 1.5px;
    color: red;
    display: none;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}